/* hide the original widget - that there were no two labels on the screen*/


/* the default style - for offline messages if no one is online */
#jivo_custom_widget{
	position: fixed;
	right: 30px;
	top: 30%;
	width: 60px;
	z-index: 300000;
	cursor: pointer;
	
	height: 170px;
	background-image: url(images/jivo_widget_offline.png);
	background-size: contain;
	background-repeat: no-repeat;
}

/* when you hover the label should be shifted to the right by 3px */

/* if there are operators online - show other label*/
#jivo_custom_widget.jivo_online{
	height: 215px;
	background-image: url(images/jivo_widget_online.png);
}